
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
      --primary-color: #FF6B6B;
      --secondary-color: #f7e9e9;
    
  --shadow-light: 4px 4px 10px rgba(255,107,107,0.3), -4px -4px 10px rgba(255,255,255,0.8);
  --shadow-pressed: 2px 2px 5px rgba(255,107,107,0.4), -2px -2px 5px rgba(255,255,255,0.9);
  --transition-default: all 0.3s ease;

  --font-size-base: 1rem;
  --border-radius: 1.25rem;
  --transition-speed: 0.3s;
  --shadow-neumorphic: 6px 6px 12px 0px rgba(0,0,0,0.3), -4px -4px 12px 0px rgba(255,255,255,0.1);
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border: rgba(255, 255, 255, 0.2);
}

    html {
      scroll-behavior: smooth;
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
      width: 100%;
      overflow-x: hidden;
    }

    @layer utilities {
      .text-balance {
        text-wrap: balance;
      }
  }